/* GENERAL */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-family: 'Graduate', cursive;
    width: 100%;
    grid-template-rows: auto 1fr auto;
}

header {
    margin-bottom: 50px
}


.contenedor {
    margin: auto;
    background-color: #ffffff;
}

iframe{
    padding:50px;
    width: 1280px;
    height: 720px;
}

/* HEADER */
.boton-home {
    text-align: left;
    background-image: url(../img/fondo-detalles.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 215px;
}

.boton-home img {
    padding-top: 10px;
}

.botones {
    text-align: right;
    width: 100%;
}

.botones ul {
    margin-right: 5px;
}

.botones .boton-menu {
    color: black;
    background-color: #ffffff;
    padding: 5px 25px;
    display: inline-block;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: auto;
    text-align: center;
    font-weight: bold;
    text-size-adjust: 100;
}

.botones .boton-menu:hover,
.botones .boton-menu:hover a {
    background-color: black;
    color: #E2001A;
}

/* FOOTER */

.you:hover {
    filter: invert(0.4) sepia(0.5) saturate(10.7) hue-rotate(302.4deg) brightness(0.5);
}

.lin:hover {
    filter: invert(0.16) sepia(0.5) saturate(20) hue-rotate(180deg) brightness(0.54);
}

.ins:hover {
    filter: invert(0.16) sepia(0.5) saturate(20) hue-rotate(266.4deg) brightness(0.72);
}

.twi:hover {
    filter: invert(0.16) sepia(0.5) saturate(20) hue-rotate(151.2deg) brightness(0.72);
}

.face:hover {
    filter: invert(0.16) sepia(0.5) saturate(20) hue-rotate(172.8deg) brightness(0.56);
}

.you:hover,
.lin:hover,
.ins:hover,
.twi:hover,
.face:hover {

    transition: .9s;
    border-radius: 5px;
    transform: translateY(-10px);
}
.you,
.lin,
.ins,
.twi,
.face {
    transition: .7s;
}

footer li {
    display: inline-block;
}

footer p {
    transform: translateY(-20px)
}

footer {
    max-width: 100%;
    height: auto;
    padding: 15px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.271), rgba(255, 255, 255, 0.195)), url(../img/montaña-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redes-sociales img {
    width: 100px;
    transform: translateY(25px);
}

.redes-sociales ul {
    padding: 50px 0px;
    margin: 0px;
}

.redes-sociales {
    margin: auto;
}

.redes-sociales li {
    padding: 0px 50px;
}

footer p {
    margin-bottom: 0px;
}


/* HOME */
.contenido-home {
    padding-top: 35px;
}

.resaltado-home {
    background-color: #E2001A;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
}

.resaltado-home h2 {
    margin: 0px;
}

.resaltado-home strong {
    text-decoration: underline #ffffff;
    color: #ffffff;
}

.vidriera-home.boton-home,
.vidriera-home img {
    margin: 0px;
    padding: 0px;
}

.vidriera-home {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
    position: relative;
}

.vidriera-home img {
    width: 100%;
}

#primera-imagen-home {
    display: block
}

.slideshow-home {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.separador-home {
    background-color: black;
    height: 10px;
}

.tienda-home {
    background-color: #E1E1E1;
}

.tienda-home .articulo-home {
    display: inline-block;
    margin: 30px 20px 30px 20px;
}

.articulo-home .modelo-home {
    transition: .3s ease;
    height: 300px;
    width: 225px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
}

.articulo-home .caja-home {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.articulo-home h3{
    margin-top: 13px;
}

.esquina-inferior-home,
.esquina-superior-home {
    position: absolute;
    opacity: 0;
    transition: .3s ease;
    height: 50px;
    z-index: 1;
}

.esquina-inferior-home {
    bottom: 4px;
    left: 4px;
}

.esquina-superior-home {
    top: 4px;
    right: 4px;
}

.articulo-home:hover .esquina-inferior-home,
.articulo-home:hover .esquina-superior-home {
    opacity: 1;
}

.articulo-home:hover .modelo-home {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: .3s ease;
    opacity: 1;
}

.comunidad-home {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(../img/comunidad-home.png);
    background-size: cover;
    background-position: center;
}

.planeta-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.699)), url(../img/planeta-home.jpg);
    background-size: cover;
    background-position: center;
}

.comunidad-home h3,
.planeta-home h3 {
    width: 50%;
    color: #ffffff;
    display: inline-block;
    margin-top: 80px;
}

.comunidad-home h4,
.planeta-home h4 {
    color: #ffffff;
    display: inline-block;
    border: solid;
    border-color: #ffffff;
    border-width: 1px;
    margin: 10px 10px 80px 10px;
    padding: 7PX;
    border-radius: 2px;
}

.comunidad-home h4:hover,
.planeta-home h4:hover {
    background-color: #ffffff;
    color: #000000;
}

/* CONTACTO */
.iframe-contacto{
width: 1000px;
}
.contenedor-principal-contacto{
    background-color: black;
}
form{
    
    margin: auto;
    background-color:#e02932;
    width:900px;
    text-align: center;
}
form p{
    padding-top: 20px;
    text-align: left;
    padding-left: 90px;
    width:100%;
}
form input,textarea{
    width: 80%;
}
#cboxSuscripcion{
    width: 10px;
    margin-right: 5px;
}
.formulario{
    color: #ffffff;
    background-color:#000;
}
.separador-contacto {
    background-color: #E2001A;
    height: 1px;
}
.submit{
    margin: 10px 0;
    width: 100px;
    height: 30px;
}

.contenedor-contacto-imagen img {
    padding-top: 24px;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
}

.contenedor-contacto-imagen {
    background-color: rgb(0, 0, 0);
    margin: 10px 0px;
}

.imagenes-contacto {
    background-color: black;
    width: 100%;
}

.primera-imagen-contacto {
    display: inline-block;
    margin: 30px;
}

.primera-imagen-contacto img {
    background-color: black;
    width: 900px;
    margin: 0px;
}

.primera-imagen-contacto h3 {
    text-align: center;
    color: white;
}

.link-contacto {
    color: #ffffff;
}

.link-contacto:hover {
    color: #E2001A;
}

/* PLANETA */
.principal-planeta {
    padding-top: 90px;
    background-color: #E2001A;
}

.titulo-planeta {
    color: #ffffff;
}

.contenedor-planeta {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
}

.contenedor-planeta h3 {
    margin: auto;
    padding: 30px 5px;
    width: 45%;
}

.contenedor-planeta h4 {
    margin: auto;
    padding: 20px 5px;
    width: 80%;
}

.link-planeta {
    color: #ffffff;
}

.link-planeta:hover {
    color: #E2001A;
}

.vidriera-planeta:hover {
    transition: 1s;
    width: 100%;
    height: 1000px;
    background-image: url(../img/planeta1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.vidriera-planeta {
    transition: .5s;
    width: 100%;
    height: 500px;
    background-image: url(../img/planeta1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.separador-planeta {
    background-color: #E2001A;
    height: 3px;
}


/* PRODUCTOS */
.nuestro-catalogo{
    margin-top: 85px;
}
.separador-productos {
    width: 100%;
    background-color: black;
}

.elemento-categoria h3 {
    transform: translateY(-10px);
}

.catalogo {
    margin: auto;
    margin-top:43px;
    max-width: 60%;
    background-color: #000;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    -moz-box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
}

.contenedor-productos {
    background-color: gray;
}

.vidriera-productos {
    padding: 0;
    margin: 0;
    background-color: #000;

}

.vidriera-productos img {
    width: 100%;
}

.contenedor-productos img {
    vertical-align: top;
    width: 100%;
}

.elemento-categoria {
    background-color: rgb(255, 255, 255);
}

.contenedor-productos-hombre,
.contenedor-productos-mujer,
.contenedor-productos-niños,
.contenedor-productos-sale {
    padding: 0;
    margin: 0;
    text-align: center;
}

.resaltado-productos {
    background-color: #E2001A;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: black;
    padding: 5px;
}

.contenedor-categorias,
.contenedor-productos-hombre-fila,
.contenedor-productos-mujer-fila,
.contenedor-productos-niños-fila,
.contenedor-productos-sale-fila {
    position: relative;
    align-content: center;
    display: inline-flex;
    margin: 0px 5px;
}

.elemento-categoria {
    min-width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 4px solid #E2001A;
    border-radius: 5px;
}

.elemento-categoria img {
    width: 100%;
    padding-bottom: 5px;
}

.categoria-resaltada {
    background-color: white;
}

.catalogo h3 a {
    transition: 0.3s;
    padding: 5px;
    margin: 15px;
    background-color: white;
    border: 2px solid #E2001A;
    border-radius: 5px;
    color: #000000;
}

.volver a:hover,
.catalogo h3 a:hover {
    transition: 0.3s;
    padding: 5px;
    background-color: #E2001A;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
}

.volver {
    padding: 20px 0;
}

.volver a {
    width: auto;
    background-color: white;
    border: 2px solid #E2001A;
    border-radius: 5px;
    color: #000000;
    
}

/*PRELOADER PRODUCTOS*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #E2001A;
    -webkit-animation: spin .25s linear infinite;
    animation: spin 0.25s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
/* PREMIOS */

.imagen-chalten img {
    padding-top: 95px;
    height: auto;
    width: 100%;
    max-width: 1920px;
}

.imagen-chalten .premio-viaje {
    position: center;
    top: 50%;
    left: 50%;
}

.premios {
    background-image: url(../img/fondo-oscuro-premios.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.premios .premios2y3 {
    display: inline-flex;
    margin: 20px 70px 0px 70px;
    color: #ffffff;
}

.premios2y3 .caja-premios {
    background-image: url(../img/rectangulo-opaco.png);
    background-size: 270px 320px;
}

.premios2y3 .modelo-premios {
    height: 317px;
    width: 270px;
}

.premios2y3 .color-texto-premios {
    color: #ffffff;
    font-size: 10px;
}

.sorteo-premios img {
    height: auto;
    width: 100%;
    max-width: 1920px;
}

/*COMUNIDAD MONTAGNE*/
.contenido-comunidad {
    padding-top: 85px;
}

.boton-mas-info h4 {
    color: #000000;
    display: inline-block;
    border: solid;
    border-color: #000000;
    border-width: 2px;
    margin: 10px 10px 80px 10px;
    padding: 7PX;
    border-radius: 5px;
}

.boton-mas-info h4:hover {
    background-color: #E2001A;
    color: #FFFFFF;
}

.caratula-comunidad {
    height: 380px;
}

.caratula-comunidad img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: bottom;
}

.montagne {
    color: #E2001A;
}

.texto-inspiracion-comunidad {
    text-align: center;
    margin-top: 80px;
}

.triptico-comunidad {
    background-color: #000000;
    color: #ffffff;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contenedor-actividad {
    display: inline-block;
    height: 500px;
    margin-top: 10px;
    padding: 10px 10px;
}

.contenedor-actividad img {
    transition: .3s ease;
    width: 250px;
    height: 400px;
    border-radius: 5%;
    object-fit: cover;
    background-color: #FFFFFF;
    position: relative;
}

.contenedor-actividad:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .3s ease;
    opacity: 1;
}

.beneficios-triptico {
    display: inline-flex;
    color: #000000;
    align-items: center;
}

.beneficios {
    width: 300px;
    height: 200px;
    margin-top: 0px;
    padding: 10px 10px;
    background-color: #FFFFFF;
    object-fit: contain;
}

.beneficios img {
    width: 250px;
    height: 150px;
    background-color: #FFFFFF;
}

.beneficios-left {
    text-align: left;
    padding-left: 100px;
    padding-right: 50px;
}

.beneficios-right {
    text-align: right;
    padding-right: 100px;
    padding-left: 50px;
}

.beneficios-right p,
.beneficios-left p {
    font-size: 10px;
}

.contenido-comunidad {
    width: 100%;
}

.triptico-comunidad h4 {
    padding-top: 15px;
}

/* MARATON */
#body-maraton {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
}

.header-maraton {
    border-bottom: #e02932 6px solid;
    padding: 50px;
    padding-top: 70px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(31, 17, 17);
    color: aliceblue;
}

.columnas-maraton .caja-maraton {
    display: inline-block;
    min-height: auto;
}

#columna-maraton-1 {
    margin: 0px;
    padding: 0px;
    width: 42%;
    float: left;
    padding: 0px 15px;
    text-align: center;
    height: 900px;
    font-size: 32px;
    background-color: rgb(194, 10, 10);
    color: aliceblue;
    border-right: black 2px solid;
    min-height: 978px;
}

.info i {
    padding: 30px;
    font-size: 50px;
}

.link-maraton i {
    color: rgb(6, 6, 12);
    font-size: 150px;
}

.link-maraton i:hover {
    color: azure;
}

#columna-maraton-2 {
    margin: 0px;
    padding: 0px;
    width: 55%;
    float: right;
}

#columna-maraton-2 img {
    width: max-content;
    height: 900px;
}

#footer-maraton {
    background-color: blanchedalmond;
    width: 100%;
    margin-top: -5px;
    padding: 50px 35%;
    text-align: center;
    color: aliceblue;
    background-color: rgb(17, 10, 10);
    border-top: #e02932 6px solid;
    border-bottom: #e02932 6px solid;
}

.footer-maraton p {
    font-weight: bolder;
    font-size: 40px;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    body {
        display: grid;
    }

    .boton-home {
        height: 46px;
        width: 188px;
    }

    .boton-home img {
        padding-left: 8px;
        padding-top: 8px;
        width: 75px;
    }

    .botones {
        text-align: center;
    }

    .botones ul {
        margin: 0px;
        padding-left: 0px;
        height: 40px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .botones .boton-menu {
        padding: 1px;
        margin: 2px 0px;
        width: 80px;
        font-size: 10px;
        border-width: 1px;
    }


    /* FOOTER */
    footer {
        padding: 0px;
    }

    .redes-sociales li {
        padding: 0px 5px;
    }

    .redes-sociales img {
        width: 45px;
    }

    /* HOME MEDIA QUERY */
    .resaltado-home h2 {
        font-size: 10px;
    }

    .tienda-home .articulo-home {
        display: inline-block;
        margin: 30px 20px 30px 20px;
    }

    .articulo-home .modelo-home {
        height: 236px;
        width: 177px;
    }

    .articulo-home h3 {
        font-size: 10px;
    }

    .comunidad-home h3,
    .planeta-home h3 {
        margin-top: 50PX;
        font-size: 10px;
    }

    .comunidad-home h4,
    .planeta-home h4 {
        font-size: 9px;
    }

    .contenido-home br {
        display: block;
        content: "";
        margin-top: 5px;
    }

    .esquina-inferior-home,
    .esquina-superior-home {
        height: 60px;
    }

    .articulo-home .caja-home {
        height: 236px;
    }


    /* CONTACTO MEDIA QUERY */
    form{
    
        margin: auto;
        background-color:#e02932;
        width:fit-content;
        text-align: center;
    }
    form p{
        padding-top: 20px;
        text-align: left;
        padding-left: 36px;
        width:100%;
    }
    .contenedor-contacto-imagen {
        padding-bottom: 0;
    }

    .primera-imagen-contacto img{
        padding-top: 25px;
        width: 100%;
    }
    /* PLANETA MEDIA QUERY */
    .contenedor-planeta h3 {
        padding: 10px;
        font-size: 20px;
        width: 80%;
    }
    

    .contenedor-planeta h4 {
        font-size: 15px;
        padding: 20px 10px;
    }

    /* PREMIOS MEDIA QUERY */
    .premios .premios2y3 {
        margin: 20px 20px 0px 20px;
    }

    /* MARATON */
    #body-maraton {
        display: grid;
    }

    .header-maraton {
        padding: 30px 0px;
        padding-top: 60px;
        font-size: 20px;
        float: none;
        width: 100%;
        text-align: center;
    }

    #columnas-maraton h2 {
        float: none;
        width: 100%;
        text-align: center;
        font-size: 21px;
    }

    #columnas-maraton #columna-maraton-1,
    #columnas-maraton #columna-maraton-2 {
        float: none;
        max-width: 100%;
        text-align: center;
        font-size: 40px;
    }

    #footer-maraton {
        padding: 50px 5%;
        text-align: center;
        font-size: 18 px;
    }

    #columna-maraton-1 {
        width: 100%;
        min-height: 800px;
    }

    #columna-maraton-1 .info {
        font-size: 23px;
    }

    #columna-maraton-2 img {
        width: 400px;
    }

    .link-maraton i {
        font-size: 75px;
    }

    #columna-maraton-2 img {
        width: 300px;
        height: auto;
    }

    /* COMUNIDAD */

    .beneficios-triptico,
    .beneficios-left,
    .beneficios,
    .beneficios-right,
    .beneficios img {
        display: inline-block;
    }

    .texto-inspiracion-comunidad {
        margin: 80px 40px 0px 40px;
    }

    .beneficios-right,
    .beneficios-left {
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
    }

    .contenedor-actividad {
        padding: 5px;
    }
}

/* PRODUCTOS MEDIA QUERY*/
@media (max-width: 1280px) {
    .iframe-contacto, iframe{
        padding:10px;
        width: 100%;
        height: auto;
    }
    .catalogo {
        margin-top: 60px;
        max-width: 100%;
    }

    .contenedor-productos img {
        vertical-align: top;
        width: 100%;
    }

    .contenedor-categorias,
    .contenedor-productos,
    .contenedor-productos-hombre-fila,
    .contenedor-productos-mujer-fila,
    .contenedor-productos-niños-fila,
    .contenedor-productos-sale-fila {
        display: inline-block;
        padding: 0 10px;
    }
    /*PRELOADER*/
    #loader {
        position: absolute;
        left: 54%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #E2001A;
        -webkit-animation: spin .25s linear infinite;
        animation: spin 0.25s linear infinite;
      }
      
}

/*Barra de navegacion responsive
Esto mejor dejarlo acá.*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    background-color: black;
    height: 85px;
    width: 100%;
}

#nav-sombra {
    -webkit-box-shadow: -1px 1px 5px 10px rgb(224, 41, 50);
    -moz-box-shadow: -1px 1px 5px 10px rgb(224, 41, 50);
    box-shadow: -1px 1px 5px 10px rgb(224, 41, 50);
}

.enlace {
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(../img/fondo-detalles.png);
    position: absolute;
    padding: 16px 50px;
}

.logoo {
    text-align: left;
    padding-right: 50px;
    height: 50px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.boton-menu a.actual,
.boton-menu a:hover {
    background-color: #E2001A;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

section {
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-top: 2.5px;
    }

    .lista-navbar {
        z-index: 50;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #E2001A;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav .lista-navbar li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav .lista-navbar li a {
        font-size: 20px;
    }

    .boton-menu a:hover,
    .boton-menu a.active {
        background: black;
        color: rgb(255, 255, 255);
    }

    #check:checked~ul {
        left: 0;
    }
}

