/* GENERAL */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: auto;
    text-align: center;
}

.contenedor {
    margin: auto;
    width: 90%;
    background-color: rgb(128, 128, 128);
}

nav {
    padding: 5px 25px;
    background-color: rgb(204, 255, 255);
}

nav ul {
    text-align: right;
}

footer,
nav {
    width: 100%;
    padding: 15px 0;
    display: inline-flex;
}

footer li,
nav li {
    display: inline-block;
}

footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.271), rgba(255, 255, 255, 0.195)), url(../img/montaña-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redes_sociales {
    margin: auto;
}

footer img {
    width: 35px;
    height: 35px;
}

.flyer {
    margin: auto;
    border: none;
}

.boton-home {
    margin-left: 10px;
    text-align: left;
}

.botones {
    text-align: right;
    width: 100%;
}

nav li {
    color: black;
    background-color: #FFF;
    padding: 5px 25px;
    margin: 0 10px;
    border-radius: 3px;
}
.log-in{
    background-color: black;
}
.log-in a {
    color: #E2001A;
}

.carousel {
    background-color:#E2001A;
    color:yellow;
}
.imagenes, .botonera-carousel {
    background-color: rgb(66, 66, 66);
    text-align: center;
    display: flex;
}
.boton-izq, .boton-der, .botonera-carousel li{
    width: 100%;
    color: yellow;
}
.galeria{
    display: inline-flex;
    padding: 50px;
}
.galeria li{
    margin: 10px;
}
