/* PRODUCTOS */

html {
    scroll-behavior: smooth;
}

.catalogo {
    margin: auto;
    margin-top: 50px;
    max-width: 60%;
    background-color: #000;
    -webkit-box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    -moz-box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    box-shadow: -1px 1px 5px 9px rgba(150, 150, 150, 0.50);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
}
.contenedor-productos {
    background-color: gray;
}

.vitriera-productos {
    padding: 0;
    margin: 0;
    background-color: #000;

}

.vitriera-productos img {
    width: 100%;
}

.contenedor-productos img {
    vertical-align: top;
    width: 100%;
}

.elemento-categoria {
    background-color: rgb(255, 255, 255);
}

.contenedor-productos-hombre,
.contenedor-productos-mujer,
.contenedor-productos-niños,
.contenedor-productos-sale {
    padding: 0;
    margin: 0;
    text-align: center;
}
.resaltado-productos {
    background-color: #E2001A;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: black;
    padding: 5px;
}

.contenedor-categorias,
.contenedor-productos-hombre-fila,
.contenedor-productos-mujer-fila,
.contenedor-productos-niños-fila,
.contenedor-productos-sale-fila {
    position: relative;
    align-content: center;
    display: inline-flex;
    margin: 0px 5px;
}

.elemento-categoria {
    min-width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 4px solid #E2001A;
    border-radius: 5px;
}

.elemento-categoria img {
    width: 100%;
    padding-bottom: 5px;
}

.categoria-resaltada {
    background-color: white;
}

.volver, .catalogo h3 a {
    transition: 0.3s;
    padding: 5px;
    background-color: white;
    border: 2px solid #E2001A;
    border-radius: 5px;
    color: #000000;
}
.volver:hover,.catalogo h3 a:hover {
    transition: 0.3s;
    padding: 5px;
    background-color: #E2001A;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
}
@media (max-width: 1280px) {

    /* PRODUCTOS MEDIA QUERY*/
    .contenedor-productos img {
        vertical-align: top;
        width: 100%;
    }

    .contenedor-categorias,
    .contenedor-productos,
    .contenedor-productos-hombre-fila,
    .contenedor-productos-mujer-fila,
    .contenedor-productos-niños-fila,
    .contenedor-productos-sale-fila {
        display: inline-block;
        padding: 0 10px;
    }
}